@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
  flex-wrap: wrap;
  list-style-type: none;
  display: flex;
}

.navigation-user {
  max-width: 140px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.navigation-user-link {
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.notification-badge {
  font-family: inherit;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
}

.header-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  margin: 0;
  align-self: start;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/background/index-background.jpg");
  color: #000000;
  background-color: #354751;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 51px;
}

.welcome-images {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.advantages-item-big-container {
  width: 400px;
  padding: 103px 85px;
  box-sizing: border-box;
  min-height: 385px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-item.advantages-item-big {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  padding: 0;
  width: 100%;
}

.advantages-item.advantages-item-medium:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 103px 85px;
  box-sizing: border-box;
  min-height: 385px;
}

.advantages-item.advantages-item-medium:nth-child(odd) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding: 103px 85px;
  box-sizing: border-box;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.infrastructure-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.infrastructure-item:nth-child(odd) {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 80px 85px;
  box-sizing: border-box;
  min-height: 385px;
}

.infrastructure-item:nth-child(even) {
  background-color: #ffffff;
  text-align: center;
  width: 400px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.search {
  width: 592px;
  text-align: center;
  margin: 96px auto;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 54px;
}

.search-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.block-subscribe {
  background-image: url("../images/background/subscribe-background.jpg");
  background-size: cover;
  color: #ffffff;
  background-color: #174255;
  background-repeat: no-repeat;
  margin: 0;
  padding: 96px 258px 104px 258px;
}

.newsletter {
  width: 684px;
  margin: 0 auto;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  margin: 0;
}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 54px;
}

.subscribe-form-name {
  text-align: center;
  margin: 0;
}

.email-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
}

.page-footer {
  display: flex;
  width: 1060px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-decoration: none;
  padding: 0 70px;
  justify-content: space-between;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 190px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration-line: none;
  width: 331px;
}

.copyright {
  width: 115px;
}

/* Стилизация каталога*/
.filter-block {
  background-image: url("../images/background/filter-background.jpg");
  color: #ffffff;
  background-color: #47332f;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px;
  width: 1060px;
  padding-top: 35px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 114px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration-line: none;
}

.catalog-filter {
  display: flex;
  gap: 32px;
}

.infrastructure-group {
  width: 150px;
  gap: 32px;
}

.type-housing-group {
  width: 150px;
  gap: 32px;
}

.price-group {
  width: 288px;
  gap: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fieldset-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filter-range-control {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-filter-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
  align-self: start;
}

.catalog-filter-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  align-self: start;
}

.catalog-hotels {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px;
}

.catalog-hotels-sorting-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  width: 350px;
  margin: 0;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  padding: 14px 20px;
}

.view-buttons {
  display: flex;
  align-items: center;
  width: 160px;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
  flex-wrap: wrap;
}

.view-button-item {
  display: block;
  width: 48px;
  height: 48px;
}

.catalog-hotels-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.catalog-hotels-card {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
}

.catalog-hotels-card-link {
  text-decoration: none;
}

.catalog-hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 16px;
}

.catalog-hotels-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 16px;
}

.catalog-hotels-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 16px;
}

.catalog-hotels-detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-hotels-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.catalog-hotels-in-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.catalog-hotels-rating {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  min-width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.newsletter-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-text-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
