@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  min-width: 1060px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background: #ffffff;
  padding: 0 70px;
}

.navigation {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  width: 140px;
  height: 64px;
  margin-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:focus-visible {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 456px;
  flex-wrap: wrap;
  list-style-type: none;
  display: flex;
  margin-left: 168px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.navigation-link[href]:hover {
  color: #756157;
}

.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link[href]:active {
  color: rgba(229, 229, 229, 1);
}

.navigation-link-current::before {
  content: "";
  background-color: #756257;
  position: absolute;
  height: 2px;
  left: 16px;
  right: 16px;
  bottom: -1px;
  align-self: center;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  align-items: center;
}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.user-link-search {
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center right 1px;
  background-size: 20px 20px;
}

.user-link-search:hover {
  opacity: 0.5;
}

.user-link-search:focus-visible {
  opacity: 0.5;
}

.user-link-search:active {
  opacity: 0.3;
}

.user-link-favourite {
  background-image: url("../images/icon/favourite.svg");
  background-repeat: no-repeat;
  background-position: center right 1px;
  background-size: 20px 20px;
}

.user-link-favourite:hover {
  opacity: 0.5;
}

.user-link-favourite:focus-visible {
  opacity: 0.5;
}

.user-link-favourite:active {
  opacity: 0.3;
}

.notification-badge {
  font-family: inherit;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 1px;
  right: -8px;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}

.header-button {
  width: 160px;
  font-family: inherit;
  padding: 8px 34px;
  color: #ffffff;
  background-color: #756157;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 32px;
  text-decoration: none;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus-visible {
  background-color: #615048;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.header-button:disabled {
  background-color: #e5e5e5;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/background/index-background-pattern.svg"), url("../images/background/index-background.jpg");
  color: #000000;
  background-color: #354751;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  background-position: bottom;
}

.welcome-images {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.advantages-lead-wrapper {
  width: 651px;
  padding: 69px 0;
  margin-left: auto;
  margin-right: auto;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  padding-top: 20px;
}

.advantages-item-big-container {
  width: 400px;
  padding: 102px 85px;
  min-height: 385px;
  box-sizing: border-box;
  padding-bottom: 5px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
  padding-top: 3px;
  padding-right: 4px;
}

.advantages-title::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  position: absolute;
}

.advantages-item-medium .advantages-title::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-item.advantages-item-big {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  padding: 0;
  width: 100%;
}

.advantages-img {
  display: block;
}

.advantages-item.advantages-item-medium:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 103px 85px;
  box-sizing: border-box;
  min-height: 385px;
}

.advantages-item.advantages-item-medium:nth-child(odd) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding: 103px 85px;
  box-sizing: border-box;
}

.infrastructure-lead-wrapper {
  width: 505px;
  margin: 61px auto;
  margin-left: auto;
  margin-right: auto;
}

.infrastructure-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.housing-icon {
  background-image: url("../images/icon/housing-icon.svg");
  background-repeat: no-repeat;
}

.food-icon {
  background-image: url("../images/icon/food-icon.svg");
  background-repeat: no-repeat;

}

.gifts-icon {
  background-image: url("../images/icon/gifts-icon.svg");
  background-repeat: no-repeat;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.infrastructure-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.infrastructure-item {
  width: 400px;
  height: 385px;
  box-sizing: border-box;
  padding: 185px 85px 81px;
  background-position: center 84px;
}

.infrastructure-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-item:nth-child(even) {
  background-color: #ffffff;
}

.search {
  width: 592px;
  text-align: center;
  padding: 96px 304px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.search-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 376px;
  display: block;
  margin: 0 auto;
  padding: 8px 50px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus-visible {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.search-button:disabled {
  background-color: #e5e5e5;
}

.newsletter {
  padding: 96px 258px 104px;
}

.newsletter-background {
  background-image: url("../images/background/subscribe-background.jpg");
  background-size: cover;
  color: #ffffff;
  background-color: #174255;
  background-repeat: no-repeat;
  padding-bottom: 86px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  margin: 0;
}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 54px;
}

.newsletter-form {
  width: 684px;
  margin: 0 auto;
}

.subscribe-form-name {
  display: flex;
}

.email-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.newsletter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
  width: 232px;
  padding: 8px 50px;
  border: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus-visible {
  background-color: #68a2ca;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.newsletter-button:disabled {
  background-color: #e5e5e5;
}

.page-footer {
  display: flex;
  text-decoration: none;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
}

.footer-social-list {
  width: 235px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.footer-social-item {
  margin: 0;
}

.footer-social-link {
  display: flex;
  width: 48px;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-social-icon {
  color: #83b3d3;
}

.footer-social-link:hover svg {
  color: #68a2ca;
}

.footer-social-link:focus-visible svg {
  color: #68a2ca;
}

.footer-social-link:active svg {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration-line: none;
  margin-right: 92px;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus-visible {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright {
  width: 115px;
  color: #000000;
  position: relative;
  display: flex;
}

.copyright:hover {
  color: #756157;
}

.copyright:focus-visible {
  color: #756157;
}

.copyright:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-academy {
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* Стилизация каталога*/
.filter-block {
  background-image: url("../images/background/filter-background.jpg");
  color: #ffffff;
  background-color: #47332f;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px;
  width: 1060px;
  padding-top: 35px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration-line: none;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 15px;
}

.breadcrumbs-item::after {
  content: "";
  background-image: url("../images/icon/right-arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 21px;
  display: block;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
}

.breadcrumbs-item:last-child.breadcrumbs-item::after {
  content: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus-visible {
  color: #ffffff
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.infrastructure-group {
  width: 150px;
  margin-right: 70px;
}

.type-housing-group {
  width: 150px;
  margin-right: 140px;
}

.price-group {
  width: 288px;
  margin-right: 70px;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 3px solid#83b3d3;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 3px solid#83b3d3;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control-input:disabled ~ .control-label {
  opacity: 0.3;
}

.control:hover .control-label {
  opacity: 0.6;
}

.control:active .control-label {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 10px;
  top: 6px;
  left: 4px;
  background-image: url("../images/icon/tick.svg");
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: #3f5e72;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.fieldset-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filter-range-control {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.filter-range-label {
  position: absolute;
  top: 13px;
  right: 20px;
  opacity: 0.3;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 42px;
}

.range-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus-visible {
  background-color: #e6e6e6;
}

.range-input-min-interval {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-input-max-interval {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus-visible {
  background: #ffffff;
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  background: #ffffff;
  outline: 3px solid #83b3d3;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.catalog-filter-buttons {
  width: 191px;
  margin-left: 70px;
  padding-top: 56px;
}

.catalog-filter-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;
  margin-bottom: 32px;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.catalog-filter-submit:hover {
  background-color: #68a2ca;
}

.catalog-filter-submit:focus-visible {
  background-color: #68a2ca;
}

.catalog-filter-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.catalog-filter-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  align-self: start;
  padding: 8px 58px;
  border: 0;
  cursor: pointer;
}

.catalog-filter-reset:hover {
  color: #ffffff;
  background-color: transparent;
}

.catalog-filter-reset:focus-visible {
  outline: 3px solid #83b3d3;
  background-color: transparent;
}

.catalog-filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.catalog-filter-reset:disabled {
  opacity: 0.1;
  background-color: transparent;
}

.catalog-hotels {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px;
}

.catalog-hotels-sorting-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  width: 350px;
  margin: 0;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  padding: 12px 16px;
  padding-right: 50px;
  border-radius: 4px;
  background-image: url("../images/icon/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  border: 2px solid #e5e5e5;
  margin-left: 120px;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  border-color: #68a2ca;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.view-buttons {
  display: flex;
  align-items: center;
  width: 160px;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
  flex-wrap: wrap;
}

.view-button {
  display: flex;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.view-button-tile-current {
  border: 2px solid#000000;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus-visible {
  outline: 2px solid #68a2ca;
}

.view-button:active {
  border-color: #000000;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-bottom: 40px;
  list-style-type: none;
  gap: 20px;
  width: 100%;
}

.catalog-hotels-card {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-hotels-card-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.catalog-hotels-card-link {
  display: block;
  grid-column: 1 / -1;
  text-decoration: none;
}

.catalog-hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.catalog-hotels-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 16px;
  margin: 0;
}

.catalog-hotels-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
  margin: 0;
}

.catalog-card-buttons {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 36px;
  margin: 0 auto;
  gap: 20px;
}

.catalog-hotels-detail {
  font-family: inherit;
  display: flex;
  width: 140px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.catalog-hotels-detail:hover {
  background-color: #615048;
}

.catalog-hotels-detail:focus-visible {
  color: rgba(255, 255, 255, 1);
  background-color: #615048;
}

.catalog-hotels-detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.catalog-hotels-detail:disabled {
  background-color: #e5e5e5;
}

.catalog-hotels-like {
  font-family: inherit;
  width: 140px;
  min-height: 36px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.catalog-hotels-like:hover {
  background-color: #68a2ca;
}

.catalog-hotels-like:focus-visible {
  background-color: #68a2ca;
}

.catalog-hotels-like:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.catalog-hotels-like:disabled {
  background-color: #e5e5e5;
}

.catalog-hotels-in-like {
  font-family: inherit;
  width: 140px;
  min-height: 36px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.catalog-hotels-in-like:hover {
  background-color: #6c9e42;
}

.catalog-hotels-in-like:focus-visible {
  background-color: #6c9e42;
}

.catalog-hotels-in-like:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.catalog-hotels-in-like:disabled {
  background-color: #e5e5e5;
}

.catalog-hotels-card-stars {
  height: 17px;
  margin: 0;
  background-image: url("../images/star.svg");
  background-repeat: space no-repeat;
  background-position: center;
  margin-top: 10px;
}

.catalog-hotels-card-stars-4 {
  width: 89px;
}

.catalog-hotels-card-stars-3 {
  width: 66px;
}

.catalog-hotels-card-stars-2 {
  width: 42px;
}

.catalog-hotels-rating {
  display: flex;
  justify-content: center;
  width: 140px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
  margin-bottom: 9px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  min-width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link:not(.pagination-link-current):hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 17px;
  padding-bottom: 18px;
}

.newsletter-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  margin: 0;
}

.newsletter-text-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
}

/* модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}


.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.modal-search {
  width: 717px;
}

.modal-container-close {
  display: none
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: #f2f2f2;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3
}

.modal-close-button:active {
  opacity: 0.3;
  background-color: #e6e6e6;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  align-self: center;
}

.label-wrapper-data {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 48px;
}

.search-check-in-label {
  margin-right: 24px;
}

.check-out-label {
  margin-right: 18px;
}

.search-input-date {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
  width: 440px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-left: auto;
  box-sizing: border-box;
  background-image: url("../images/icon/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
  padding-right: 50px;
}

.search-input-date:hover {
  background-color: #e6e6e6;
}

.search-input-date:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-filed-message {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  left: 157px;
  top: 53px;
}

.modal-filed-message-error {
  color: #ff5757;
}

.modal-age-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px
}

.guests-wrapper {
  display: flex;
  position: relative;
}

.search-input-guests {
  display: flex;
  width: 110px;
  height: 48px;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
}

.input-number-wrapper {
  background-color: #f2f2f2;
  border-radius: 4px;
  align-items: center;
  display: flex;
  width: 110px;
  height: 48px;
  margin-left: 46px;
}

.button-counter {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #756157;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  position: relative;
}

.button-counter:hover {
  color: #000000;
  opacity: 1;
}

.button-counter:focus-visible {
  color: #000000;
  outline: 3px solid #82b3d3
}

.button-counter:active {
  color: #000000;
  opacity: 0.3;
}

.search-input-guests[type="number"] {
  width: 31px;
  text-align: center;
}

.search-input-guests::-webkit-outer-spin-button,
.search-input-guests::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form-label-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  display: flex;
  width: 26px;
  height: 26px;
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  background-image: url("../images/icon/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
}

.tooltip-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 216px;
  min-height: 110px;
  margin-top: 16px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 18px 20px 14px 20px;
  display: none;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-toggle:focus-visible {
  background-color: #68a2ca;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}


.tooltip-text::before {
  content: "";
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: -5px;
  right: 0;
  margin: 0 auto;
  background-image: url("../images/icon/arrow-up.svg");
}

.search-form-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
  width: 577px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.search-form-button:hover {
  background-color: #68a2ca;
}

.search-form-button:focus-visible {
  background-color: #68a2ca;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}
